.skillsBlock {
    min-height: 100vh;
    background-color: #6fda6f;
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    background-color: dodgerblue;

}

.skills {
    width: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;

}

@media (width: 360px) {
    .skillsContainer {
        align-items: center;
        flex-wrap: wrap;
    }

    .skills {
        flex-direction: column;
        align-items: center;
    }
}